@charset "UTF-8";

/**
 * @CSS for wordpress-theme with xHTML5
 * @version (0.1)
 * @date (22.07.2009 10:23:29)
 * @lastmodified (11.01.2010 12:35:07)
 * @author (Frank Bueltge)
 */


/**
 * load a example style
 */
/**
@import url('../example/style.css') screen;
*/

/**
 * @CSS for RESET
 * use a reset style
 *
 * @author (http://meyerweb.com/eric/tools/css/reset/)
 */
/**
@import url(reset/reset.css);
*/

/**
 * @author (http://devkick.com/lab/tripoli/)
 */
/**
@import url('reset/tripoli.base.css');
@import url('reset/plugins/tripoli.visual.css');
@import url('reset/plugins/tripoli.type.css')
*/

/**
 * my favorit
 */
 
* {
margin: 0;
padding: 0;	
}


/**
 * default sectors
 */
html {
}

body {
font-family: Courier, "Lucida Console","Courier New", Sans-Serif;
font-size: 90%;
color: #222;
}

p {
margin-bottom: 0.7em;
}

h1 {
}

h2 {
}

h3 {
}

h4, h5, h6 {

}

h6 {
font-size: 0.7em;
font-weight: normal;
}

h1, h2, h3, h4 {
}

h6:before {
content: "/** ";
}
h6:after {
content: "\00A0*/";
}

h6 ul {
list-style-type: none;
}

h6 ul li:before {
content: "\00A0* ";
}


blockquote p:before {
}

blockquote p:after {
}

/**
 * @section layout
 * @css-for (All)
 */
#wrap {
}

input, textarea, select, option {
font-family: Courier, "Lucida Console","Courier New", Sans-Serif;
background: transparent;
font-size: 100%;
border: 1px solid #ccc;
}

.left {
float: left;
}

.right {
float: right;
}

fieldset, legend {
background: transparent;
border: none;
}

/**
 * @section layout
 * @css-for (header)
 */
#header {
}

#header h1:before {
content: "public blog ";
}
#header h1:after {
content: "()";
}
#header h6 {
color: #3F5FBF;
}

/**
 * @section layout
 * @css-for (content)
 */
#content {
width: 65%;
float: left;
font-size: 1em;
margin: 5px;
padding: 15px;
line-height: 1.2em;
}

#content header {
margin-bottom: 0.7em;
}

#content header h6 {
color: #3F7F5F;
} 

#content a:link, p a:visited {
font-weight: bold;	
}

.post p{
}

.post pre {
margin: 0 0 1em 0;
padding: 2em;
background: #eee;
overflow: auto;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;       /* Opera 4-6 */
white-space: -o-pre-wrap;       /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.story ul {
margin-top: 1em;
list-style-type: none;
}

.story ol {
margin-left: 2em;
}

.story li {
margin: 0 0 1em 0;
line-height: 1.2em;
}

.story ul li:before {
content: "\00BB \0020";
}

.storymarker {
font-weight: bold;
font-size: 1.2em;
margin-top: 0.2em;
display: inline;
}

.storyend {
margin-bottom: 1em;
}

.singlelinecomment {
color: #3F7F5F;
display: inline;
font-size: 0.7em;
}

.singlelinecomment:before {
content: "// ";
}

.info p {
font-size: 0.7em;
line-height: 1em;
margin-top: 1em;
margin-bottom: 2em;
}

.navigation {
margin: 0 0 1em 0;
padding: 1em 0 0 0;
list-style-type: none;
overflow: hidden;
clear: both;
}

/**
 * @section layout
 * @css-for (sidebar)
 */
aside {
background: #46443f;
background:-webkit-linear-gradient(left, #413f3b, #57544c);
background:linear-gradient(left, #413f3b, #57544c);
top: 0;
right: 0px;
width: 230px;
height: 100%;
position: fixed;
padding: 20px;
}

#sidebar {
color: #dfdbd2;
font-size: 1em;
}

#sidebar ul {
list-style-type: none;
margin-top: 0.2em;
}

#sidebar ul li ul {
list-style-type: square;
list-style-position: inside;
}

#sidebar a:link, #sidebar a:visited {

color: #dfdbd2;
}

#sidebar a:hover, #sidebar a:active {
background-color: #976f20;
}

#sidebar input {
color: #dfdbd2;
width: 190px;
padding: 6px 6px 6px 28px;
background: transparent url(search16.png) no-repeat 6px center;
}

.widget {
margin-bottom: 0.5em;
margin-top: 0.5em
}

/**
 * @section layout
 * @css-for (footer)
 */
footer {
border-top: 1px solid #ccc;
color: #111;
clear: both;
text-align: center;
margin: 5px;
padding: 10px;
}
 
#footer {
}

/**
 * @section layout
 * @css-for (links)
 */
a:link, a:visited {
text-decoration: none;
color: #000;	
}

a:hover, a:active {
background-color: #d8b165;
}


/**
 * @section layout
 * @css-for (flickr)
 */
#flickr_badge_wrapper {
margin-left: -1em;
margin-top: 0.5em;
overflow: hidden;
}

.flickr_badge_image {
margin: 0 0 1.2em 1.2em;
float: left;
}

.flickr_badge_image img { 
width: 64px;
height: 64px;
}

.flickr_badge_image a {
display: block;
}