@charset "UTF-8";

/**
 * @CSS for wordpress-theme with xHTML5
 * @version (0.1)
 * @date (22.07.2009 10:23:29)
 * @lastmodified (11.01.2010 12:35:07)
 * @author (Frank Bueltge)
 */


/**
 * load a example style
 */
/**
@import url('../example/style.css') screen;
*/

/**
 * @CSS for RESET
 * use a reset style
 *
 * @author (http://meyerweb.com/eric/tools/css/reset/)
 */
/**
@import url(reset/reset.css);
*/

/**
 * @author (http://devkick.com/lab/tripoli/)
 */
/**
@import url('reset/tripoli.base.css');
@import url('reset/plugins/tripoli.visual.css');
@import url('reset/plugins/tripoli.type.css')
*/

/**
 * my favorit
 */
 
* {
margin: 0;
padding: 0;	
}


/**
 * default sectors
 */
html {
}

body {
font-family: Courier, "Lucida Console","Courier New", Sans-Serif;
}

p {
}

h1 {
}

h2 {
}

h3 {
}

h4, h5, h6 {
}

h1, h2, h3, h4 {
}

blockquote p:before {
}

blockquote p:after {
}

/**
 * @section layout
 * @css-for (All)
 */
#wrap {
}

/**
 * @section layout
 * @css-for (header)
 */
#header {
}

#header h1:before {
content: "public class ";
}
#header h1:after {
content: "()";
}
#header h6 {
color: #7F7F9F;
}
#header h6:before {
content: "/** ";
}
#header h6:after {
content: "\00A0*/";
}
#header h6 ul li:before {
content: "\00A0* ";
}

/**
 * @section layout
 * @css-for (content)
 */
#content {
width: 65%;
float: left;
font-size: 1em;
margin: 5px;
padding: 15px;
line-height: 1.5em;
}

#content header {
margin-top: 1em;
margin-bottom: 1em;
}

.post p{
}

.story ul {
margin-top: 1em;
list-style-type: none;
}

.story li {
margin: 0 0 1em 0;
padding-left: 20px;
line-height: 1.2em;
background: transparent url(bullet.gif) no-repeat left center;*/
}

.info p {
font-size: 0.7em;
line-height: 1em;
margin-top: 1em;
margin-bottom: 4em;
}

/**
 * @section layout
 * @css-for (sidebar)
 */
aside {
background: #46443f;
background:-webkit-linear-gradient(left, #413f3b, #57544c);
background:linear-gradient(left, #413f3b, #57544c);
top: 0;
right: 0px;
width: 250px;
height: 100%;
position: fixed;
padding: 20px;
}

#sidebar {
color: #dfdbd2;
font-size: 1em;
}

#sidebar ul {
list-style-type: none;
margin-top: 0.2em;
}

#sidebar ul li ul {
list-style-type: square;
list-style-position: inside;
}

#sidebar a:link, #sidebar a:visited {
font-weight: normal;
color: #dfdbd2;
}

#sidebar a:hover, #sidebar a:active {
background-color: #968b2f;
}

.widget {
margin-bottom: 0.5em;
margin-top: 0.5em
}

/**
 * @section layout
 * @css-for (footer)
 */
footer {
border-top: 1px solid #ccc;
color: #111;
clear: both;
text-align: center;
margin: 5px;
padding: 10px;
}
 
#footer {
}

/**
 * @section layout
 * @css-for (links)
 */
a:link, a:visited {
text-decoration: none;
font-weight: bold;
color: #000;	
}

a:hover, a:active {
background-color: #fce94f;
}